header{
    position: fixed;
    width:100%;
    top:0;
    left:0;
    z-index:99;
    
}
.header-container{
    padding:1.5rem 1.5rem;
    max-width: 1280px;
    margin-inline: auto;
}
.blur-header{
    background-color: transparent;

}

.blur-header::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(0,0%,10%,.3);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    top:0;
    left:0;
    z-index: -1;
  }
.logo{
    font-size: 3rem;
    color:var(--secondary-color);
}
nav .left-links{
    margin-top: 6rem;
}
nav li a:not(:first-child){
    margin-top: 0.9rem;
}
nav ul{
    margin-top:2rem;
}
li:not(:first-child){
    margin-top:2rem;
}
nav li a{
    padding:0.8rem 2rem;
    transition:border-width 1s ease-in;
}
nav li a:hover{
    border:0.6px solid var(--secondary-color);
}
nav li:hover a{
    color: var(--secondary-color);
}
.menu-checkbox,
    .hamburger{
        display: none;
}
.logo{
    left: 10%;
}
  
nav{
        display: block;
        position: fixed;
        top:0;
        right:-450px;
        height: 100vh;
        background-color: var(--primary-color);
        z-index:1000;
        padding:2rem 1.5rem;
        transition:all 0.3s ease-in-out;
}

.backdrop{
        position: fixed;
        left:0;
        top:0;
        width:100%;
        height: 100%;
        z-index:998;
        background-color: rgba(0,0,0,0.4);
        cursor:default;
        display: none;
}
.menu__button{
        cursor: pointer;
        position: fixed;
        width:3.3rem;
        height: 3.3rem;
        border-radius: 50%;
        top:2.2rem;
        right:1.5rem;
        z-index: 1001;
        text-align: center;
        background-color: var(--primary-color);
}
.hamburger{
        position: relative;
        margin-top: 1.5rem;
        z-index: 1000;
}
    .hamburger,
    .hamburger::before,
    .hamburger::after{
        width: 2rem;
        height: 3px;
        background-color:var(--secondary-color);
        display: inline-block;
    }
    .hamburger::before,
    .hamburger::after{
        content: '';
        position: absolute;
        left:0;
        transition:all .2s;
    }
    .hamburger::before{
        top:-0.7rem;
    }
    .hamburger::after{
        top:0.7rem;
    }
    .menu-checkbox:checked + .menu__button .hamburger{
        background-color: transparent;
    }
    .menu-checkbox:checked + .menu__button .hamburger::before{
        top:0;
        transform: rotate(135deg);
    }
    .menu-checkbox:checked + .menu__button .hamburger::after{
        top:0;
        transform: rotate(-135deg);
    }
    .menu-checkbox:checked ~ nav{
        right:0;
    }
    .menu-checkbox:checked ~ nav.flex-between{
        right:0;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .menu-checkbox:checked ~ .backdrop{
        display: block;
    }
.active-link{
    color:var(--secondary-color);
}
@media (min-width:700px){
    nav {
        position: relative;
        height: auto;
        width: auto;
        top:0;
        right:0;
        padding:0;
        width: 100%;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap:2rem;
    }
    .backdrop{
        background: transparent;
    }
    .menu__button{
        display: none;
    }
    .logo{
        position: absolute;
        top:50%;
        left:50%;
        transform: translateX(-50%) translateY(-50%);
    }
    nav .left-links,
    nav ul{
        margin-top: 0;
    }
   
}